/* compiler.css */
/*
body
{
	background-color: #909193;
	background-image: url(images/background.jpg);
	background-repeat: repeat-x;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

h1 
{ 
    color: black;
	font-size:   20pt;
	font-weight: normal;
	font-style: normal;	
    border-bottom: 1px solid #dad8ed;  
}

h2
{
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:   16pt;
	font-weight: normal;
	font-style: normal;	
}
*/
h1{
	font-weight: bold;
	text-align: center;
}


.source{
	display: inline-block;
	width:100%;
}
.center {
	margin-left: auto;
	margin-right: auto;
  }

#taSourceCode{
	width:427px;
  margin: 15px;
  border-radius: 10px;
    height:460px;
    font-family:Courier New; 
    color: black; 
    border:solid 2px black; 
    font-weight: bold;
    white-space: pre-line;
}

#taOutput{
  width:427px;
  border-radius: 10px;
	margin: 15px;
    height:460px;
    font-family:Courier New; 
    color: black; 
    border:solid 2px black; 
    font-weight: bold;
    background-color: #F2F2F2;
}
#taCST, #taAST{
  border-radius: 10px;
	width:427px;
	margin: 15px;
    height:300px;
    font-family:Courier New; 
    color: black; 
    border:solid 2px black; 
    font-weight: bold;
    background-color: #F2F2F2;
}

#scope{
  width:427px;
  border-radius: 10px;
	margin: 15px;
    height:200px;
    font-family:Courier New; 
    color: black; 
    border:solid 2px black; 
    font-weight: bold;
    background-color: #F2F2F2;
}

#symbolTable{
  width:427px;
	margin: 15px;
    height:200px;
    border-radius: 10px;
    font-family:Courier New; 
    color: black; 
    border:solid 2px black; 
    font-weight: bold;
    background-color: #F2F2F2;
}

#symbolTableTable{
    width:400px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family:Courier New; 
    color: black; 
    border:solid 1px black; 
    font-weight: bold;
    background-color: #F2F2F2;
}

/* button code found from https://getcssscan.com/css-buttons-examples*/
#btnCompile {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1;
  outline: none;
  overflow: hidden;
  
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

#btnCompile:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

#btnCompile:hover:after {
  opacity: .5;
}

#btnCompile:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

#btnCompile:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  #btnCompile {
    padding: 14px 22px;
    width: 176px;
  }
}

